* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI' , sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 380px;
}

.container a {
  text-decoration: underline;
  color: #e50914
}

.container p {
  color: #fff
}

.container img {
  width: 250px;
  margin-bottom: 20px;
}

.container h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

.container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 14px;
  box-sizing: border-box;
}

#loginBtn {
  width: 100%;
  padding: 12px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  height: 46px;
}

#registerBtn {
  width: 100%;
  padding: 12px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  height: 46px;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  padding-right: 40px;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: #fff;
  font-size: 14px;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.toggle-password-btn {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  outline: none;
  transition: filter 0.2s ease;
}

.toggle-password-btn:hover {
  filter: brightness(1.2);
}

.toggle-password-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.remember-me-checkbox {
  display: flex;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  margin: 15px 0; 
  margin-bottom: 0px;
}

.remember-me-checkbox label {
  color: #fff;
  font-size: 14px;
}

.remember-me-checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #e50914; 
}

#registerParagraph {
  margin: 5px;
}