* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

.header {
  position: relative;
  height: 70px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo img {
  width: 200px;
  height: 45px;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  top: 15px;
}

/* Responsividade */
@media (max-width: 500px) {
  .search {
    max-width: 90%;
  }

  .logo img {
    width: 140px;
    height: auto;
  }

  .profile-icon img {
    width: 30px;
    height: 30px;
  }

  .banner {
    height: 400px;
    padding: 10px;
  }

  .banner-text {
    font-size: 14px;
  }
}


.profile-icon img {
  width: 40px;
  height: 40px;
}

.banner {
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to top, rgba(0, 0, 0, 500), rgba(0, 0, 0, 0)),
    url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner-text h2 {
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  line-height: 1.5;
}


.movies-section {
  padding: 20px;
  text-align: center;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 16px;
  justify-items: center;
  margin-top: 20px;
  padding: 20px;
}

.movie-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
}

.movie-card:hover {
  transform: scale(1.05);
}


.movie-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  transition: transform 0.3s ease;
}


.banner {
  transition: opacity 0.3s ease;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

#moviesTitle {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}
