.star-rating {
  direction: rtl;
  display: inline-flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 1rem;
}

.star-rating input {
  display: none;
  justify-content: center;
}

.star-rating label {
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.avg-stars {
  font-size: 2rem;
  color: gold;
}
