.new-star-rating {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 1rem;
}

.new-star-rating img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.static-stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.static-stars img {
  width: 24px;
  height: 24px;
}